@font-face {
    font-family: "Mfont";
    src: url('mainfont.ttf');
}
html {
	font-size: 62.5%;
}
body {
	margin: 0;
	background-color: #232323;
	color: black;
	font-family: roboto;
	word-wrap: break-word;
	word-break: break-all;
}

body::-webkit-scrollbar {
	
}
body::-webkit-scrollbar-track {
	background-color:  #232323;
}
body::-webkit-scrollbar-thumb {
	background-color:  #3eff92;
}
.header {
	background-color: #515151;
	width: 100%;
	height: 5rem;
	position: relative;
}
.logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: #515151;
	background-color: #3eff92;
	box-sizing: border-box;
	display: inline-block;
	padding: .5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.addNew {
	font-size: 1.75rem;
	color: #3eff92;
	box-sizing: border-box;
	display: inline-block;
	right: 5rem;
	  position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.addContainer {
	width: 50%;
	background-color: #515151;
	height: 55rem;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 5rem;
}
.addContainerCenter {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
		left: 0; 
	right: 0;
}
.spoilerArea {
	width: 100%;
	resize: none;
	height: 40rem;
	display: block;
	text-indent: 1rem;
}
.spoilerArea:focus {
	outline: 1px solid #3eff92;
}

.spoilerAreaAdd {
	width: 100%;
	resize: none;
	height: 40rem;
	display: block;
	text-indent: 1rem;
}

.spoilerAreaAdd:focus {
	outline: 1px solid #3eff92;
}
.spoilerAreaAdd::placeholder {
	color: #f7281d;
}

.addButton {
	width: 15%;
	height: 3rem;
	outline: none;
	border: none;
	background-color: #3eff92;
	font-family: roboto;
	color: #515151;
	font-weight: bolder;
	margin-top: 1rem;
	font-size: 1.5rem;
	float: right;
}
.addButton:active {
	background-color: #18e873;
}
.errorCenter {
	font-size: 3.5rem;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #3eff92;
	background-color: #3eff92;
	padding: 1rem;
	cursor: default;
	width: 90%;
	text-align: center;
	word-break: normal;
}
.errorCenter:hover {
	color: #515151;
}
.spoilerDisplayContainer {
width: 80%;
background-color: #515151;
margin-top: 5rem;
margin-left: auto;
margin-right: auto;
position: relative;
}
.spoilerDisplay {
	display: inline-block;
	color: #3eff92;
	background-color: #3eff92;
	margin: 2rem;
	font-size: 2rem;
	padding: .5rem;
	box-sizing: border-box;
	text-align: justify;
	cursor: default;
}
.spoilerDisplay:hover {
	color: #515151;
}
.funcExecButtonRight {
	width: 15%;
	height: 3rem;
	outline: none;
	border: none;
	background-color: #3eff92;
	font-family: roboto;
	color: #515151;
	font-weight: bolder;
	float: right;
}
.funcExecButtonLeft {
	width: 15%;
	height: 3rem;
	outline: none;
	border: none;
	background-color: #3eff92;
	font-family: roboto;
	color: #515151;
	font-weight: bolder;
	float: left;
}

.funcExecButtonLeft:active {
	background-color: #18e873;
}

.funcExecButtonRight:active {
	background-color: #18e873;
}

.buttons {
width: 80%;
margin-top: 5rem;
margin-bottom: 5rem;
padding-bottom: 5rem;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.buttons::after {
clear: both;
}
.report {
	position: absolute;
	right: 0px;
	color: #3eff92;
	font-size: 1.25rem;

	margin-top: 1rem;
}

.nav_list {
	list-style-type: none;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.sendReport, .getLink, .heart, .heartCount, .heartCountNumber, .heartRed, .linksRef, .sendReportRed {
	padding: 1rem;
	display: inline !important;
	user-select: none;
	cursor: pointer;
}
.linksRef {
	color: #ead834;
	font-weight: bolder;
}
.heartCount, .heartCountNumber {
	cursor: default;
}
.sendReport:active, .getLink:active, .heart:active {
	color: #18e873;
}
.heartCountNumber {
	padding-left: 0;
}
.heartRed, .sendReportRed {
	color: #f7281d;
}
.heartCount {
	padding-right: .5rem;
}
.hiddenInput {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	left: 0;
	bottom: 0;
}
.chooseOrder {
	font-size: 1.75rem;
	color: #3eff92;
	box-sizing: border-box;
	display: inline-block;
	left: 5rem;
	  position: absolute;
	top: 50%;
	transform: translateY(-50%);
	list-style-type: none;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
a {
	text-decoration: none;
}
.orderList {
	display: inline;
	cursor: pointer;
	
}
.orderList:last-of-type {
	padding-left: 2.5rem;
}
.orderListMenu, #circleButtn {
	font-size: 2.5rem;
}
